<!DOCTYPE html>
<html>
<head>
  <title>FlinkedIn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">FlinkedIn</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <% if !current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign Up', new_user_path %></li>
        <li><%= link_to 'Sign In', signin_path %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>Hi <%= link_to current_user.name, user_path(current_user), {:style => 'display: inline-block; padding-left: 0; padding-right: 0;'} %>!</li>
        <li><%= link_to 'Sign Out', signout_path %></li>
      </ul>
      <% end %>
      
    </div>
  </div>
</div>

<div class="container">

  <div id="messages">
    <%= flash_messages %>
  </div>
  
  <%= yield %>
</div>

</body>
</html>
